<!DOCTYPE html>
<html>
<%- include ('partials/head') %>

<body class="hold-transition skin-blue sidebar-mini fixed">
  <div class="wrapper">
    <%- include ('partials/header') %>

    <!-- Left side column. contains the logo and sidebar -->
    <%- include ('partials/left-sidebar') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Control Panel
          <small>MIS</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dashboard</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="totalKeyword">
                      <i class="fa fa-spinner fa-spin"></i>
                    </h3>
                    <p>Total Keywords</p>
                </div>
                <div class="icon">
                    <i class="fa fa-key"></i>
                </div>
                <a href="#" class="small-box-footer ajax" data-toggle="tab">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-blue">
            
              <div class="inner">
                  <h3 id="totalTweetsScrapped">
                    <i class="fa fa-spinner fa-spin"></i>
                  </h3>
                  <p>Total Tweets Scrapped</p>
              </div>
              <div class="icon">
                  <i class="fa fa-twitter"></i>
              </div>
              <a href="#" class="small-box-footer ajax" data-toggle="tab">
                  More info <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>0
                  <!-- <i class="fa fa-spinner fa-spin"></i> -->
                </h3>

                <p>Other tab</p>
            </div>
            <div class="icon">
                <i class="fa fa-open"></i>
            </div>
            <a href="#" class="small-box-footer ajax" data-toggle="tab">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-purple">
          <div class="inner">
              <h3>0
                <!-- <i class="fa fa-spinner fa-spin"></i> -->
              </h3>

              <p>Other tab</p>
          </div>
          <div class="icon">
              <i class="fa fa-purple"></i>
          </div>
          <a href="#" class="small-box-footer ajax" data-toggle="tab">
              More info <i class="fa fa-arrow-circle-right"></i>
          </a>
      </div>
  </div>
  <!-- ./col -->

          <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
  </div>
  <!-- /.row -->

        <!-- Info boxes -->
        <div class="row">
          <div class="col-md-12">
            <!-- Bar chart -->
            <div class="box box-info">
              <div class="box-header with-border">
                <i class="fa fa-twitter"></i>

                <h3 class="box-title">Tweets by Keywords</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div id="keywords_tweets_chart" style="height: 300px;"></div>
              </div>
              <!-- /.box-body-->
            </div>
            <!-- /.box -->
          </div>
          <!-- Donut chart -->
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- ./wrapper -->

  <%- include ('partials/footer') %>
  <%- include ('partials/footer-script') %>
  <script src="/ap/dist/js/highchart.js"></script>
  <script>
    $(function () {
        $(".home").addClass('active');
        // Total count
        totalKeywords();
        totalTweetsScrapped();
        keywordsTweetsGraph();
    });
    // total keywords
    function totalKeywords() {
      $.ajax({
        url: "/ap/total-keywords/count",
        type: 'GET',
        data: {},
        success: function(data){
          if(data.success) {
            $("#totalKeyword").text(numToLetter(data.totalKeywords));
          }
        },
        error: function(xhr, errmsg, err) {
          $("#totalKeyword").text('Error loading');
        }
      })
    }
    // total tweets scrapped
    function totalTweetsScrapped() {
      $.ajax({
        url: "/ap/total-tweets-scrapped/count",
        type: 'GET',
        data: {},
        success: function(data){
          if(data.success) {
            $("#totalTweetsScrapped").text(numToLetter(data.totalTweetsScrapped));
          }
        },
        error: function(xhr, errmsg, err) {
          $("#totalKeyword").text('Error loading');
        }
      })
    }
    // draw chart
    function keywordsTweetsGraph() {
      var options = {
            chart: {
                renderTo: 'keywords_tweets_chart',
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'No. of Tweets'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">Tweets: </td>' +
                    '<td style="padding:0"><b>{point.y:.f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Keywords',
                data: [],
                color: 'skyblue'
            }]
        };
        var chart = new Highcharts.Chart(options);
        chart.showLoading();

        $.ajax({
          url: '/ap/keywords-tweets/graph',
          type: "GET",
          dataType: "JSON",
          data : {},
          success: function(data) {
            if(data.success) {
              let tweets = [], keywords = [];
              for(var i = 0; i < data.tweetsByKeywords.length; i++) {
                keywords.push(data.tweetsByKeywords[i].title);
                tweets.push(data.tweetsByKeywords[i].totalKeywords)
              }
              options.xAxis.categories = keywords
              options.series[0].data = tweets;
            } else {
              // code
            }
            chart = new Highcharts.Chart(options);
          },
          cache: false
        });
      }
  </script>
</body>

</html>